CARDFORGE_BACKEND_BIND=127.0.0.1:8092
CARDFORGE_MERCHANT_LABEL=CardForge Demo Store
CARDFORGE_WEBHOOK_ENDPOINT=http://127.0.0.1:8092/api/mermer-pay/webhook
MERMER_PAY_API_URL=http://127.0.0.1:8080
MERMER_PAY_CONSOLE_URL=http://127.0.0.1:3001/merchant
MERMER_PAY_CHAIN_INVOICE_API_URL=http://127.0.0.1:3001
MERMER_PAY_WALLET_API_URL=http://127.0.0.1:3001
MERMER_PAY_LOGIN_URL=http://127.0.0.1:3001/login
MERMER_PAY_PROJECT_ID=proj_replace_with_console_value
MERMER_PAY_API_KEY=mmp_test_replace_with_one_time_key
MERMER_PAY_WEBHOOK_SECRET=whsec_replace_with_console_value
