CARDFORGE_BACKEND_BIND=127.0.0.1:8092
CARDFORGE_ALLOWED_ORIGINS=http://127.0.0.1:3002
CARDFORGE_DATABASE_URL=postgres://zamapay:zamapay@127.0.0.1:5432/cardforge
CARDFORGE_MERCHANT_LABEL=CardForge Demo Store
CARDFORGE_STORE_KEY=local-dev
CARDFORGE_WEBHOOK_ENDPOINT=http://127.0.0.1:8092/api/zamapay/webhook
ZAMAPAY_API_URL=http://127.0.0.1:18080
ZAMAPAY_CONSOLE_URL=http://127.0.0.1:3001/merchant
ZAMAPAY_CHAIN_INVOICE_API_URL=http://127.0.0.1:3001
ZAMAPAY_WALLET_API_URL=http://127.0.0.1:3001
ZAMAPAY_LOGIN_URL=http://127.0.0.1:3001/login
ZAMAPAY_SECRET_KEY=zms_test_replace_with_console_value
